make a dictionary for inflation rates based of the information from the wolfram alpha api

In [1]:
import creds #api cridenttials for wolfram
import datetime

import wolframalpha

In [2]:
import dateutil.parser
import numpy as np
import pickle

In [3]:
client = wolframalpha.Client(creds.apikey)

In [5]:
def question(q):
    res = client.query(q)
    answer = next(res.results).text 
    return answer

In [25]:
res = client.query('GDP of the US in 1997')

In [14]:
m = float(next(res.results).text.split('$')[1].split(' ')[0])/100.0
# this gets a float that is the multiplyter to do the inflation adustment
# to 2015
print m

1.3382

In [61]:
res = client.query(q)

In [62]:
print q

100 dollars from 2014 value today

In [63]:
res.pods

[<wolframalpha.Pod at 0x7f874aea8310>,
 <wolframalpha.Pod at 0x7f874aeed750>,
 <wolframalpha.Pod at 0x7f874aeed6d0>,
 <wolframalpha.Pod at 0x7f874aeed190>,
 <wolframalpha.Pod at 0x7f874aeed1d0>]

In [53]:
years = range(1900,2015)

In [30]:
type(dateutil.parser.parse(str(years[3])).year)

int

In [54]:
inflation =[]
for year in years:
    q = '100 dollars from ' + str(year) + ' value today'
    print q
    res = client.query(q)
    try:
        multiplyer = float(next(res.results).text.split('$')[1].split(' ')[0])/100.0
    except:
        multiplyer = (np.nan,res)
    inflation.append((year,multiplyer))

100 dollars from 1900 value today
100 dollars from 1901 value today
100 dollars from 1902 value today
100 dollars from 1903 value today
100 dollars from 1904 value today
100 dollars from 1905 value today
100 dollars from 1906 value today
100 dollars from 1907 value today
100 dollars from 1908 value today
100 dollars from 1909 value today
100 dollars from 1910 value today
100 dollars from 1911 value today
100 dollars from 1912 value today
100 dollars from 1913 value today
100 dollars from 1914 value today
100 dollars from 1915 value today
100 dollars from 1916 value today
100 dollars from 1917 value today
100 dollars from 1918 value today
100 dollars from 1919 value today
100 dollars from 1920 value today
100 dollars from 1921 value today
100 dollars from 1922 value today
100 dollars from 1923 value today
100 dollars from 1924 value today
100 dollars from 1925 value today
100 dollars from 1926 value today
100 dollars from 1927 value today
100 dollars from 1928 value today
100 dollars from 1929 value today
100 dollars from 1930 value today
100 dollars from 1931 value today
100 dollars from 1932 value today
100 dollars from 1933 value today
100 dollars from 1934 value today
100 dollars from 1935 value today
100 dollars from 1936 value today
100 dollars from 1937 value today
100 dollars from 1938 value today
100 dollars from 1939 value today
100 dollars from 1940 value today
100 dollars from 1941 value today
100 dollars from 1942 value today
100 dollars from 1943 value today
100 dollars from 1944 value today
100 dollars from 1945 value today
100 dollars from 1946 value today
100 dollars from 1947 value today
100 dollars from 1948 value today
100 dollars from 1949 value today
100 dollars from 1950 value today
100 dollars from 1951 value today
100 dollars from 1952 value today
100 dollars from 1953 value today
100 dollars from 1954 value today
100 dollars from 1955 value today
100 dollars from 1956 value today
100 dollars from 1957 value today
100 dollars from 1958 value today
100 dollars from 1959 value today
100 dollars from 1960 value today
100 dollars from 1961 value today
100 dollars from 1962 value today
100 dollars from 1963 value today
100 dollars from 1964 value today
100 dollars from 1965 value today
100 dollars from 1966 value today
100 dollars from 1967 value today
100 dollars from 1968 value today
100 dollars from 1969 value today
100 dollars from 1970 value today
100 dollars from 1971 value today
100 dollars from 1972 value today
100 dollars from 1973 value today
100 dollars from 1974 value today
100 dollars from 1975 value today
100 dollars from 1976 value today
100 dollars from 1977 value today
100 dollars from 1978 value today
100 dollars from 1979 value today
100 dollars from 1980 value today
100 dollars from 1981 value today
100 dollars from 1982 value today
100 dollars from 1983 value today
100 dollars from 1984 value today
100 dollars from 1985 value today
100 dollars from 1986 value today
100 dollars from 1987 value today
100 dollars from 1988 value today
100 dollars from 1989 value today
100 dollars from 1990 value today
100 dollars from 1991 value today
100 dollars from 1992 value today
100 dollars from 1993 value today
100 dollars from 1994 value today
100 dollars from 1995 value today
100 dollars from 1996 value today
100 dollars from 1997 value today
100 dollars from 1998 value today
100 dollars from 1999 value today
100 dollars from 2000 value today
100 dollars from 2001 value today
100 dollars from 2002 value today
100 dollars from 2003 value today
100 dollars from 2004 value today
100 dollars from 2005 value today
100 dollars from 2006 value today
100 dollars from 2007 value today
100 dollars from 2008 value today
100 dollars from 2009 value today
100 dollars from 2010 value today
100 dollars from 2011 value today
100 dollars from 2012 value today
100 dollars from 2013 value today
100 dollars from 2014 value today

there are some errors with the api calls so some years have nans for there inflation adjustment, I then just re-ran the api keys for those years to fill in the missing values

In [55]:
inflation

[(1900, 29.5709),
 (1901, 29.212),
 (1902, 28.8618),
 (1903, 28.218899999999998),
 (1904, 27.8919),
 (1905, 28.218899999999998),
 (1906, 27.604),
 (1907, 26.4223),
 (1908, 26.985100000000003),
 (1909, 27.291),
 (1910, 26.1354),
 (1911, 26.1354),
 (1912, 25.6071),
 (1913, 24.3548),
 (1914, 24.0306),
 (1915, (nan, <wolframalpha.Result at 0x7f874aeed950>)),
 (1916, 22.116999999999997),
 (1917, 18.7686),
 (1918, 16.0027),
 (1919, 13.8869),
 (1920, 12.010299999999999),
 (1921, 13.485),
 (1922, (nan, <wolframalpha.Result at 0x7f874aef45d0>)),
 (1923, 14.1177),
 (1924, 14.0559),
 (1925, 13.722000000000001),
 (1926, 13.599300000000001),
 (1927, 13.866900000000001),
 (1928, 14.028599999999999),
 (1929, 14.028599999999999),
 (1930, (nan, <wolframalpha.Result at 0x7f874aea03d0>)),
 (1931, 15.827300000000001),
 (1932, 17.645),
 (1933, 18.6114),
 (1934, 17.985599999999998),
 (1935, 17.5379),
 (1936, 17.3587),
 (1937, 16.7351),
 (1938, 17.081500000000002),
 (1939, (nan, <wolframalpha.Result at 0x7f874ae8f090>)),
 (1940, 17.1831),
 (1941, 16.3468),
 (1942, 14.7372),
 (1943, 13.907),
 (1944, 13.683),
 (1945, 13.378800000000002),
 (1946, 12.3334),
 (1947, 10.7819),
 (1948, 10.0121),
 (1949, 10.110199999999999),
 (1950, 10.0017),
 (1951, 9.2728),
 (1952, 9.0662),
 (1953, 8.992799999999999),
 (1954, 8.9649),
 (1955, 8.99),
 (1956, 8.8549),
 (1957, 8.5686),
 (1958, 8.341000000000001),
 (1959, 8.2575),
 (1960, 8.1389),
 (1961, 8.0526),
 (1962, 7.9573),
 (1963, 7.8598),
 (1964, 7.760599999999999),
 (1965, 7.639500000000001),
 (1966, 7.415900000000001),
 (1967, 7.215800000000001),
 (1968, 6.9201999999999995),
 (1969, 6.5618),
 (1970, 6.1998),
 (1971, 5.9446),
 (1972, 5.7562),
 (1973, 5.4213),
 (1974, 4.8817),
 (1975, 4.4727),
 (1976, 4.2297),
 (1977, 3.9715),
 (1978, 3.6899),
 (1979, 3.3167),
 (1980, 2.9208999999999996),
 (1981, 2.6473),
 (1982, 2.4944),
 (1983, 2.4167),
 (1984, 2.3171),
 (1985, 2.2377000000000002),
 (1986, 2.1961),
 (1987, (nan, <wolframalpha.Result at 0x7f874aefd390>)),
 (1988, 2.0354),
 (1989, 1.9417),
 (1990, 1.8422999999999998),
 (1991, 1.7674),
 (1992, 1.7155),
 (1993, 1.6663),
 (1994, 1.6239),
 (1995, 1.5796000000000001),
 (1996, 1.5346000000000002),
 (1997, 1.4996),
 (1998, 1.4767),
 (1999, 1.445),
 (2000, 1.3978),
 (2001, 1.3594),
 (2002, (nan, <wolframalpha.Result at 0x7f874aefd810>)),
 (2003, 1.3085),
 (2004, 1.2744),
 (2005, 1.2326000000000001),
 (2006, 1.194),
 (2007, 1.1609),
 (2008, 1.1179999999999999),
 (2009, 1.122),
 (2010, 1.1039),
 (2011, 1.0714),
 (2012, 1.0485),
 (2013, 1.0332999999999999),
 (2014, 1.018)]

In [56]:
inflation_dict = dict(inflation)

In [67]:
m = float(next(res.results).text.split('$')[1].split(' ')[0])/100.0
# this gets a float that is the multiplyter to do the inflation adustment
# to 2015
print m

23.8127

In [96]:
inflation_dict[2002] = m

In [99]:
inflation_dict

{1900: 29.5709,
 1901: 29.212,
 1902: 28.8618,
 1903: 28.218899999999998,
 1904: 27.8919,
 1905: 28.218899999999998,
 1906: 27.604,
 1907: 26.4223,
 1908: 26.985100000000003,
 1909: 27.291,
 1910: 26.1354,
 1911: 26.1354,
 1912: 25.6071,
 1913: 24.3548,
 1914: 24.0306,
 1915: 23.8127,
 1916: 22.116999999999997,
 1917: 18.7686,
 1918: 16.0027,
 1919: 13.8869,
 1920: 12.010299999999999,
 1921: 13.485,
 1922: 14.3706,
 1923: 14.1177,
 1924: 14.0559,
 1925: 13.722000000000001,
 1926: 13.599300000000001,
 1927: 13.866900000000001,
 1928: 14.028599999999999,
 1929: 14.028599999999999,
 1930: 14.413599999999999,
 1931: 15.827300000000001,
 1932: 17.645,
 1933: 18.6114,
 1934: 17.985599999999998,
 1935: 17.5379,
 1936: 17.3587,
 1937: 16.7351,
 1938: 17.081500000000002,
 1939: 17.3067,
 1940: 17.1831,
 1941: 16.3468,
 1942: 14.7372,
 1943: 13.907,
 1944: 13.683,
 1945: 13.378800000000002,
 1946: 12.3334,
 1947: 10.7819,
 1948: 10.0121,
 1949: 10.110199999999999,
 1950: 10.0017,
 1951: 9.2728,
 1952: 9.0662,
 1953: 8.992799999999999,
 1954: 8.9649,
 1955: 8.99,
 1956: 8.8549,
 1957: 8.5686,
 1958: 8.341000000000001,
 1959: 8.2575,
 1960: 8.1389,
 1961: 8.0526,
 1962: 7.9573,
 1963: 7.8598,
 1964: 7.760599999999999,
 1965: 7.639500000000001,
 1966: 7.415900000000001,
 1967: 7.215800000000001,
 1968: 6.9201999999999995,
 1969: 6.5618,
 1970: 6.1998,
 1971: 5.9446,
 1972: 5.7562,
 1973: 5.4213,
 1974: 4.8817,
 1975: 4.4727,
 1976: 4.2297,
 1977: 3.9715,
 1978: 3.6899,
 1979: 3.3167,
 1980: 2.9208999999999996,
 1981: 2.6473,
 1982: 2.4944,
 1983: 2.4167,
 1984: 2.3171,
 1985: 2.2377000000000002,
 1986: 2.1961,
 1987: 2.1184,
 1988: 2.0354,
 1989: 1.9417,
 1990: 1.8422999999999998,
 1991: 1.7674,
 1992: 1.7155,
 1993: 1.6663,
 1994: 1.6239,
 1995: 1.5796000000000001,
 1996: 1.5346000000000002,
 1997: 1.4996,
 1998: 1.4767,
 1999: 1.445,
 2000: 1.3978,
 2001: 1.3594,
 2002: 1.3381999999999998,
 2003: 1.3085,
 2004: 1.2744,
 2005: 1.2326000000000001,
 2006: 1.194,
 2007: 1.1609,
 2008: 1.1179999999999999,
 2009: 1.122,
 2010: 1.1039,
 2011: 1.0714,
 2012: 1.0485,
 2013: 1.0332999999999999,
 2014: 1.018}

In [100]:
with open("inflation_dict.pkl",'w')as picklefile:
    pickle.dump(inflation_dict, picklefile)

In [20]:
def adjust_to_today(money,old_date):
    adjusted_money = inflation.inflate(money, datetime.date.today(), old_date, 'United States')
    return adjusted_money